[client]
loose-default-character-set= utf8mb4
user= root

[mysqld_safe]
server-id= auto

[mysqld]
user= mysql
core-file
gdb
performance-schema= 1
character-set-server= utf8mb4

log-error= error.log
log-warnings= 1
log-bin= bin
binlog-format= mixed
max-binlog-size= 256M
log-slave-updates
relay-log= relay
max-relay-log-size= 256M
loose-relay-log-recovery= 1
#skip-slave-start
skip-general-log
general-log-file= general.log
slow-query-log
slow-query-log-file= slow.log
long-query-time= 1

#old-passwords= 1
secure-auth= 1

query-cache-type= 2
query-cache-size= 32M

#loose-innodb-buffer-pool-size= 128M
#loose-innodb-log-file-size= 256M
loose-innodb-file-per-table= 1
loose-innodb-file-format= barracuda
#loose-innodb-autoinc-lock-mode= 2
innodb-lock-wait-timeout= 1

master-info-repository= table
relay-log-info-repository= table
loose-daemon_memcached_enable_binlog= 1
loose-innodb-print-all-deadlocks
loose-gtid-mode = ON
loose-enforce-gtid-consistency
loose-innodb-buffer-pool-dump-at-shutdown= 1
loose-innodb-buffer-pool-load-at-startup= 1
loose-innodb-sort-buffer-size= 64M
loose-explicit-defaults-for-timestamp

[client]
user = root

[mysql]
no-auto-rehash

[mysqldump]
loose-single-transaction
loose-triggers
loose-routines
loose-events
